{% extends "base.html" %}
{% block css_head %}
  {{ super() }}
  <!-- local CSS -->
  <link rel="stylesheet" type="text/css" href="/static/css/rocketlogger.css">
{% endblock %}
{% block js_footer %}
  {{ super() }}
  <!-- socket.io client -->
  <script src="https://cdn.socket.io/4.6.1/socket.io.min.js" integrity="sha384-KA7m0DwgQGmeRC6Xre3hJO+ZxpanOauVh4Czdqbg8lDKJ3bZZYVYmP+y4F31x40L" crossorigin="anonymous"></script>
  <script>if (typeof io === 'undefined') { document.write('<script src="/assets/socket.io.js"><\/script>') }</script>
  <!-- plotting and timesync javascript -->
  <script src="https://cdn.plot.ly/plotly-gl2d-2.15.0.min.js" integrity="sha384-BrvaOihYMX8z9bcHSoGCqysoE9Pzkal1dyWluAbLsqpGLaGdLrcACy2SbnJX/+D8" crossorigin="anonymous"></script>
  <script>if (typeof Plotly === 'undefined') { document.write('<script src="/assets/plotly-gl2d.min.js"><\/script>') }</script>
  <script src="/assets/timesync.min.js"></script>
  <!-- local javascript -->
  <script src="/static/js/rl.util.js"></script>
  <script src="/static/js/rl.base.js"></script>
  <script src="/static/js/rl.control.js"></script>
  <script src="/static/js/rl.data.js"></script>
{% endblock %}

{% block header %}
  <div id="error_offline" class="banner-top d-none">
    <div class="alert alert-danger fixed-top" role="alert">
      <div class="container">
        <strong>Error:</strong> RocketLogger offline!
      </div>
    </div>
  </div>
{% endblock %}

{% block title %}RocketLogger Control{% if hostname %} ({{ hostname }}){% endif %}{% endblock %}
{% block content %}
<!-- Page Title -->
<div class="row justify-content-between align-items-center mb-4">
  <div class="col-auto">
    <h1>RocketLogger Control Interface{% if hostname %} ({{ hostname }}){% endif %}</h1>
  </div>
  <div class="col-auto">
    <button class="btn btn-info btn-sm" type="button" data-bs-toggle="offcanvas" data-bs-target="#help" aria-controls="help">HELP</button>
  </div>

  <div class="offcanvas offcanvas-bottom rl-help" tabindex="-1" id="help" aria-labelledby="helpLabel" data-bs-backdrop="true" data-bs-scroll="true">
    <div class="container">
      <div class="offcanvas-header">
        <h2 class="offcanvas-title" id="helpLabel">RocketLogger Help</h2>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body row">
        <h3>Hotkeys</h3>
        <dl class="row">
          <dt class="col-sm-4 col-md-3 col-lg-2"><kbd>S</kbd></dt>
          <dd class="col-sm-8 col-md-9 col-lg-10">Start/Stop</dd>
          <dt class="col-sm-4 col-md-3 col-lg-2"><kbd>D</kbd></dt>
          <dd class="col-sm-8 col-md-9 col-lg-10">Store Configuration as Default</dd>
          <dt class="col-sm-4 col-md-3 col-lg-2"><kbd>L</kbd></dt>
          <dd class="col-sm-8 col-md-9 col-lg-10">Load Default Configuration</dd>
          <dt class="col-sm-4 col-md-3 col-lg-2"><kbd>P</kbd> or <kbd>Space</kbd></dt>
          <dd class="col-sm-8 col-md-9 col-lg-10">Un-/Pause Plot Update</dd>
          <dt class="col-sm-4 col-md-3 col-lg-2"><kbd>1</kbd> to <kbd>3</kbd></dt>
          <dd class="col-sm-8 col-md-9 col-lg-10">Change Plot Time Scale</dd>
        </dl>
        <p>See also the <a href="https://github.com/ETHZ-TEC/RocketLogger/wiki" target="_blank">RocketLogger wiki pages</a>.</p>
      </div>
    </div>
  </div>
</div>

{% include "rocketlogger/control.html" %}

{% include "rocketlogger/config.html" %}

<!-- Live Data Preview Panel Container -->
<div class="card mb-3">
  <div class="card-header">
    <h2 class="accordion-toggle" data-bs-toggle="collapse" href="#collapsePreview">
      Live Data Preview
    </h2>
  </div>
  <div class="card-body collapse show" id="collapsePreview">
    <fieldset id="web_group">
      <div class="row justify-content-between align-items-center">
        <div class="col-sm-auto">
          <div class="form-check mb-3">
            <input type="checkbox" class="form-check-input" id="plot_update" checked>
            <label class="form-check-label" for="plot_update">Update plots</label>
          </div>
        </div>
        <div class="col-sm-auto mb-3">
          <div class="row justify-content-end">
            <label class="col-sm-auto col-form-label" for="plot_update_rate">Update interval</label>
            <div class="col-sm-auto">
              <select class="form-select" id="plot_update_rate">
                <option value="100">auto scroll</option>
                <option value="10" selected>0.1 s</option>
                <option value="5">0.2 s</option>
                <option value="2">0.5 s</option>
                <option value="1">1 s</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-sm-auto mb-3">
          <div class="row justify-content-end">
            <label class="col-sm-auto col-form-label" for="plot_time_scale">Time scale</label>
            <div class="col-sm-auto">
              <select class="form-select" id="plot_time_scale">
                <option value="1000" selected>1 s/div</option>
                <option value="10000">10 s/div</option>
                <option value="100000">100 s/div</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div id="plot_group_voltage">
        <hr />
        <h3>Voltage Channels</h3>
        <div class="row justify-content-between align-items-center">
          <div class="col-auto">
          </div>
          <div class="col-auto">
            <div class="mb-3 row justify-content-end">
              <label class="col-auto col-form-label" for="plot_voltage_range">Range</label>
              <div class="col-auto">
                <select class="form-select" id="plot_voltage_range">
                  <option value="0">Auto</option>
                  <option value="100e-6">100 µV</option>
                  <option value="1e-3">1 mV</option>
                  <option value="10e-2">10 mV</option>
                  <option value="100e-3">100 mV</option>
                  <option value="1">1 V</option>
                  <option value="6">6 V</option>
                  <option value="10">10 V</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="rl-plot mb-3" id="plot_voltage"></div>
      </div>

      <div id="plot_group_current">
        <hr />
        <h3>Current Channels</h3>
        <div class="row justify-content-between align-items-center">
          <div class="col-auto">
          </div>
          <div class="col-auto">
            <div class="mb-3 row justify-content-start">
              <label class="col-auto col-form-label" for="plot_current_range">Range</label>
              <div class="col-auto">
                <select class="form-select" id="plot_current_range">
                  <option value="0">Auto</option>
                  <option value="10e-9">10 nA</option>
                  <option value="100e-9">100 nA</option>
                  <option value="1e-6">1 µA</option>
                  <option value="10e-6">10 µA</option>
                  <option value="100e-6">100 µA</option>
                  <option value="1e-3">1 mA</option>
                  <option value="10e-3">10 mA</option>
                  <option value="100e-3">100 mA</option>
                  <option value="1.0">1 A</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="rl-plot mb-3" id="plot_current"></div>
      </div>

      <div id="plot_group_digital">
        <hr />
        <h3>Digital Channels</h3>
        <div class="rl-plot mb-3" id="plot_digital"></div>
      </div>

      <div id="plot_group_ambient">
        <hr />
        <h3>Ambient Sensors</h3>
        <div class="rl-plot mb-3" id="plot_ambient"></div>
      </div>
    </fieldset>
  </div>
</div>
{% endblock %}
